{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Abrigo Photography</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans&family=Roboto+Slab&display=swap" rel="stylesheet">

</head>
<body>
  <header>
    <nav class="transparent">
      <div class="nav-wrapper">
        <a href="/" class="left brand-logo">&nbsp;&nbsp;BAbrigo Media</a>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="sidenav">
          <li><a href="{% url 'reviews' %}">Reviews</a></li>
          <li><a href="{% url 'collections' %}">View Collections</a></li>
          <li><a href="/contact">Contact</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'my_collections' user_id=request.user.id %}">My Collections</a></li>
          <li><a href="{% url 'logout' %}">Log Out</a></li>
          {% else %}
          <li><a href="{% url 'login' %}">Log In</a></li>
          <li><a href="{% url 'signup' %}">Create Account</a></li>
          {% endif %}
        </ul>
        <ul id="nav-mobile-desktop" class="right hide-on-med-and-down">
          <li><a href="{% url 'reviews' %}">Reviews</a></li>
          <li><a href="{% url 'collections' %}">View Collections</a></li>
          <li><a href="/contact">Contact</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'my_collections' user_id=request.user.id %}">My Collections</a></li>
          <li><a href="{% url 'logout' %}">Log Out</a></li>
          {% else %}
          <li><a href="{% url 'login' %}">Log In</a></li>
          <li><a href="{% url 'signup' %}">Create Account</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="page-footer">
        babrigo-media
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let elems = document.querySelectorAll('.parallax');
            let instances = M.Parallax.init(elems, {});
        });
        document.addEventListener('DOMContentLoaded', function() {
            let elems = document.querySelectorAll('select');
            let instances = M.FormSelect.init(elems);
        });
        // sidenav
        document.addEventListener('DOMContentLoaded', function() {
            let elems = document.querySelectorAll('.sidenav');
            let instances = M.Sidenav.init(elems, {});

            let mainNav = document.getElementById('main-nav');
            let sidenavLinks = document.querySelectorAll('.sidenav a');

            sidenavLinks.forEach(function(link) {
              link.addEventListener('click', function() {
                let sidenav = M.Sidenav.getInstance(elems[0]);
                sidenav.close();
              });
            });
          });
        document.addEventListener('DOMContentLoaded', function() {
            var modals = document.querySelectorAll('.modal');
            M.Modal.init(modals);
        });
        

    </script>
</body>
</html>
