{% extends 'base.html' %}
{% block content %}

    <div class="parallax-container">
        <div class="parallax">
            <h1>Bruce Abrigo</h1>
            <img src="https://cdn.myportfolio.com/236bd5a5-dac3-43d9-aa46-b21cfd636638/1f68dfe3-6375-44f7-a055-d6bc1a6c84bc_rw_1920.jpg?h=011d9d2d4cebe392abcc8e0db15ac26f" alt="china-town" >
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax">
            <img src="https://cdn.myportfolio.com/236bd5a5-dac3-43d9-aa46-b21cfd636638/c2534b0c-ebe7-4fb3-b9ab-55b3b214aefe_rw_1920.jpg?h=7fbc90adafb2667dc6a3ca7ef14affb3" alt="china-town" >
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax">
            <img src="https://cdn.myportfolio.com/236bd5a5-dac3-43d9-aa46-b21cfd636638/c4f4be75-2239-4074-83e1-dea8428d929e.jpg?h=cfccc41e05cc625b27baf848a0faba29" alt="china-town" class="landing-image">
        </div>
    </div>


{% endblock %}
