{% extends 'base.html' %}
{% block content %}

    <div class="parallax-container">
        <div class="parallax">
            <img src="https://cdn.myportfolio.com/236bd5a5-dac3-43d9-aa46-b21cfd636638/1f68dfe3-6375-44f7-a055-d6bc1a6c84bc_rw_1920.jpg?h=011d9d2d4cebe392abcc8e0db15ac26f" alt="china-town" >
        </div>
    </div>

    <div class="parallax-container" style="height: 600px">
        <div class="section-headings">
            <h3 class="">Look through my lens!</h3>
            <a href="{%url 'collections' %}">Visit Collections</a>
        </div>
        <div class="parallax">
            <img src="https://cdn.myportfolio.com/236bd5a5-dac3-43d9-aa46-b21cfd636638/c2534b0c-ebe7-4fb3-b9ab-55b3b214aefe_rw_1920.jpg?h=7fbc90adafb2667dc6a3ca7ef14affb3" alt="lamborghini-huracan" >
        </div>
    </div>
    <div class="parallax-container" style="height: 600px">
        <div class="section-headings">
            <h3 class="">Rate my service</h3>
            <a href="{%url 'reviews' %}" class="review-btn">Leave a review</a>
        </div>
        <div class="parallax">
            <img src="https://cdn.myportfolio.com/236bd5a5-dac3-43d9-aa46-b21cfd636638/177f547f-a53a-4fe7-98a2-c1cd9c4f774d_rw_1920.jpg?h=f7214d8ae829c95b4c0c4bd60c664cd5" alt="portraits">
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax">
            <img src="https://cdn.myportfolio.com/236bd5a5-dac3-43d9-aa46-b21cfd636638/c4f4be75-2239-4074-83e1-dea8428d929e.jpg?h=cfccc41e05cc625b27baf848a0faba29" alt="prom-collection">
        </div>
    </div>


{% endblock %}
