{% extends 'base.html' %}
{% block content %}

<!-- loop through all the collections -->
<div class="gallery">
    {% for collection in collections %}
        <!-- from each collection, grab the first photo and make that the cover image -->
        {% with photo=collection.uploadphoto_set.first %}
            {% if photo %}
            <!-- as long as the photo exists, output an image -->
            <div onclick="location.href='{% url 'view_collection' collection.id %}'" >
                <div class="">
                    <h3 class="">{{collection.collection}}</h3>
                </div>
                <img src="{{ photo.url }}" alt="{{ photo.collection }}" class="gallery-imgs">
            </div>
    
            {% else %}
            <!-- if there no, photos. Tell user there are no photos -->
            <div class="card-panel teal-text center-align">No Photos Uploaded</div>
            <form 
            class="card-panel"
            action="{% url 'upload_photo' collection.id %}"
            method="POST"
            enctype="multipart/form-data" 
            >
            {% csrf_token %}
            <input type="file" name="photo-file" />
            <br/><br/>
            <input type="submit" class="btn" value="Upload Photo"/>
        </form>
            {% endif %}
        {% endwith %}
    {% empty %}
    <h1>We currently don't have an album setup for you yet.</h1>
    {% endfor %}
    {% if user.is_superuser %}
    <div class="gallery">
        <div class="card">
            Create Collection
            <div onclick="location.href='{% url 'create_collection' %}'" style="align-items: center;">
                <img src="https://icons-for-free.com/iconfiles/png/512/append+circle+create+green+new+plus+icon-1320196710849480257.png" alt="" height="25pxpx">
            </div>
        </div>
    </div>
    {% endif %}
    </div>
    

{% endblock %}
