body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
  main {
    flex: 1 0 auto;
}
.container {
    margin: 0;
    max-width: 100%;
    width: 100%;
}
.brand-logo {
    font-family: 'Montserrat', sans-serif;
}
.right {
    font-family: 'Noto Sans', sans-serif;
}
.nav-wrapper {
  background-color: black;
}
.landing-image {
    display: block;
    margin: auto;
    width: 100%;
}
.landing-section {
    height: 100vh;
    overflow: hidden;
}
h1 {
    margin: 25px;
}
.card {
    margin: 50px;
    border-radius: 25px;
}
footer.page-footer {
    padding-top: 0;
    text-align: center;
    background-color: black;
}
.title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.edit-options {
    display: flex;
    justify-content: flex-start;
}
.edit-options a {
    margin: 0 15px;
    font-size: 18px;
}
.delete-message {
    border: 1px solid black;
    padding: 50px;
}
/* -------------- View Collections -------------- */
.gallery {
    display: flex;
    max-width: 90%;
}
.gallery-imgs {
    margin: 5px;
}
/* -------------- Home -------------- */
.parallax-container {
    height: 100vh;
    text-align: center;
}
.section-headings {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
.section-headings a {
    font-size: 25px;
  }
/* --------------------------------- Contact Form --------------------------------- */
.contact {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-card {
    display: flex;
    background-color: white;
    border-radius: 15px;
    height: 600px;
    width: 1000px;
    overflow: hidden;
    max-width: 1000px;
}
